@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    font-family: "Montserrat";
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 50px;
    margin-inline: 25px
}

h1{
    font-weight: 700;
    font-size: 45px;
}

h2{
    font-size: 30px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 25px;
}

h3{
    font-size: 20px;
    font-weight: 600;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-cost{
    font-size: 18px;
    font-weight: 200;
}

.cost-value{
    font-size: 30px;
    font-weight: 700;
}

.card-buttons{
    display: flex;
    column-gap: 15px;
    font-size: 25px;
    font-weight: 700;
}

button{
    background-color: #fb8500;
    padding-inline: 15px;
    padding-block: 5px;
    border-radius: 5px; 
}

.card-image{
    width: 200px;
    height: 200px;
}

.last-card{
    margin-bottom: 65px;
}

#basket{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-weight: 500;
    font-size: 20px;
}


.basket-item{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid var(--tg-theme-text-color);
    padding-block: 10px;
    padding-inline: 5px;
    column-gap: 10px;
}

.res-cost{
    border-left: 1px solid var(--tg-theme-text-color);
    padding-left: 10px;
}


#order-button{
    font-weight: 500;
    font-size: 20px;
    padding-inline: 20px;
    padding-block: 10px;
}


